.randomfood{
  width: 100%;
  height: 800px;
  background-image: url(https://gravity.fitness/cdn/shop/articles/assortment-of-fresh-raw-vegetables-on-a-wooden-bac-2022-02-02-03-57-12-utc_1500x.jpg?v=1660122450);
  background-position: center;
  color: black;
}

.elements-container{
  width: 500px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 20px 20px 20px;
}
